* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
#profie-img {
  border-radius: 20px;
  margin-top: 10px;
  max-width: 500px;
  max-height: 500px;
}
